// page de Julien ! Ne pas toucher sans l'ordre du propriétaire

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer p {
    display: flex;
    justify-content: center;
    color: $color-palegray;
}

.reseaux {
    display: flex;
    justify-content: center;
    margin: 0% 10% 0% 10%;
    justify-content: space-evenly;
    margin-top: 3%;
    margin-bottom: 3%;

    @media screen and (max-width: 799px) 
    { margin-left: 50%; }
}

.reseaux img {
    filter: invert(100%);
    opacity: 90%;
    width: 80%; 
}

.facebook,
.instagram,
.twitter,
.youtube,
.spotify {
    width: 3%;
}

.illustration {
    display: flex;
    justify-content: center;
    margin-top: 10%;

    @media screen and (max-width: 799px) 
    { margin-left: 60%; }
}

.illustration img {
    filter: invert(100%);
    opacity: 90%;
}

.a {
    display: flex;
    flex-direction: column;
}

.a a {
    text-decoration: none;
    color: $color-palegray;
}

.a a:hover {
    color: $color-gold;
}