// page de Julien ! Ne pas toucher sans l'ordre du propriétaire

.form {
    display: flex;
    justify-content: center;
}

form {
    width: 50%;
}

#envoyer {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 10%;
}

input, textarea {
    padding: 2%;
}

.sexe {
    display: flex;
    align-items: center;
}

.sexe p {
    display: flex;
    justify-content: baseline;
    margin-right: 15%;
}

.genre {
    display: flex;
    
}