// page de Tiph ! Ne pas toucher sans l'ordre de la propriétaire

.navbar-t {
    display: grid;
    grid-template-columns: 20% 40% 20% 20%;
    align-items: center;
    box-shadow: 0 0 10px #000;
    background : rgba(0,0,0,0.5);
    /*background-color: $color-white;*/
}

.imgNav {
    width: 150px;
}

.menu-t {
    width: 400px;
    float: left;
    height: 70px;
    justify-content: space-around;

}

.menu-t ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.menu-t ul li {
    list-style: none;
    margin-left: 45%;
    margin-top: 5%;
    font-size: 14px;
}

.menu-t ul li a {
    text-decoration: none;
    color: #D9D9D9D9 ;
    font-weight: bold;
    transition: 0.2s ease-in-out;
    
}

.menu-t ul li a:hover {
    color: $color-gold;
}

.btnn2 button {
    padding: 13px 20px;
    border-radius: 10%;
    background-color: $color-black;
    color: $color-white;
    margin-right: 2%;
}

.btnn2 button:hover {
    background-color: #D9D9D9D9;
    color: $color-black;
    transition: 0.2s ease-in-out;
}


.srch-t { 
    width: 150px;
    padding: 2%;
    border-radius: 8%;
    background: transparent;
    border: 2% solid;
    
} 

.search-t button {
    padding: 2%;
    width: 30%;
    border-radius: 8%;
    background-color: $color-black;
    color: $color-white;    
}

input .srch-t {
    border:none;
    margin: 10px 15px 5px;
    font-size: 20px;
    outline: none;
    color: $color-black;
}

.search-t button:hover {
    background-color: #D9D9D9D9;
    color: $color-black;
    transition: 0.2s ease-in-out;
}



