//  page de Tiph ! Ne pas toucher sans l'ordre de la  propriétaire


/* Partie HEADER */

#accueil-t {


.imgdebxl-t img {
    width: 100%;
    filter: brightness(70%);
    -webkit-filter: brightness(70%);
    align-items: center;
    position: relative;
}

.box1-t {
    margin-top: 430px;
    margin-left: 180px;
    font-family: 'Cinzel', serif;
    font-size: 20px;
    position: absolute;
    top: 0px;
    color: $color-white;
    text-align: center;
}

.bvn-t {
    font-family: Georgia, 'Times New Roman', Times, serif
}


.button-t2x button {
    padding: 20px 70px;
    border-radius: 30px;
    font-size: 15px;
    background-color: $color-white;
    opacity: 60%;
    margin-right: 2%;
    position: relative;
    border:none;
    margin-bottom: 20px;

}

.button-t2x button:hover {
    transition: 0.2s ease-in-out;
    box-shadow: 0 1px;
    top: 2px;
    background-color: $color-white;
    opacity: 70%;

}

// TITRE N°2 //

.titrenumdeux-t {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 70px;
    text-decoration: underline;
    color: $color-palegray;

}

//SECONDE BOX IMG TXT // 

/* .box2-t {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10px;
    justify-content: space-evenly;
} 

// PHOTO 1 // 

.imgpisseur-t img {
    width: 350px;
    height: 460px;
    border-radius: 70px;
    filter: brightness(70%);
    -webkit-filter: brightness(80%);
    box-shadow: 0 3px 15px;

    
}

.imgpisseur-t img:hover {
    transform: translateY((20px));
    transition: 0.5s all;
    margin-right: 180px
;

   

}


.txt1-t {
    margin-top: 110px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: $color-palegray;
}


.archeimg-t img {
    width: 550px;
    height: 460px;
    border-radius: 70px;
    box-shadow: 0 3px 15px;
} 

//3EME BOX IMG TXT // 

.box3-t {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    margin-top: 100px;
    justify-content: space-evenly;
}

.txt2-t { 
    margin-top: 110px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: $color-palegray;
}

.archeimg-t img:hover {
        transform: translateY((20px));
        transition: 0.5s all;
    }
*/

    //TEST //

    .card {
        margin-left: 5%;
        margin-top: 5%;
        position: relative;
        width: 600px;
        height: 350px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        border-radius: 20px;
        transition: 0.5s;
    }

    .card .circle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        overflow: hidden;
    }

    .card .circle::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $color-description;
        clip-path: circle(120px at center);
        transition: 0.5s;
    }

    .card:hover .circle:before {
        background-color: $color-description;
        clip-path: circle(400px at center);
    }

    .card img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 300px;
        //passage du curseur activé//
        pointer-events: none;
        transition: 0.5s;
        filter: invert(90%);

    }

    .card:hover img {
        left: 72%;
        height: 400px;  
    }


    .card .content-t {
        position:relative;
        width: 50%;
        left: 20%;
        padding: 20px 20px 20px 40px;  
        transition: 0.5s;  
        opacity: 0;
        visibility: hidden;
    }

    .card:hover .content-t {
        left: 0;
        opacity: 1;
        visibility: visible;
    
    }

    .card .content-t h2 {
         color: $color-gold;
         text-transform: uppercase;
         font-size: 2em;
         line-height: 1em;
         margin-bottom: 5px;
    }

    .card .content-t p {
        color: $color-palegray ;
    }
    
}

/* FIN Partie HEADER */