//  page de Tiph ! Ne pas toucher sans l'ordre de la  propriétaire


/* Partie HEADER */

//MENU BURGER//

.top-nav {
    display: none !important;
}

h2 {
  vertical-align: center;
  text-align: center;
}

html, body {
  margin: 0;
  height: 100%;
}


.top-nav {
  display: flex;
  margin-left: 160%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  height: 50px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 799px) {
    .top-nav { 
        display:flex !important;
    }

  .menu-button-container {
    display: flex;
  }

  .menu {
    position: absolute;
    top: 0;
    margin-top: 98px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

// FIN MENUE BURGER //

#accueil-t {


    .imgdebxl-t img {
        width: 100%;
        filter: brightness(70%);
        -webkit-filter: brightness(70%);
        align-items: center;
        position: relative;
    }

    .box1-t {
        margin-top: 430px;
        margin-left: 180px;
        font-family: 'Cinzel', serif;
        font-size: 20px;
        position: absolute;
        top: 0px;
        color: $color-white;
        text-align: center;
    }

    .bvn-t {
        font-family: Georgia, 'Times New Roman', Times, serif
    }


    .button-t2x button {
        padding: 20px 70px;
        border-radius: 30px;
        font-size: 15px;
        background-color: $color-white;
        opacity: 60%;
        margin-right: 2%;
        position: relative;
        border: none;
        margin-bottom: 20px;

    }

    .button-t2x button:hover {
        transition: 0.2s ease-in-out;
        box-shadow: 0 1px;
        top: 2px;
        background-color: $color-white;
        opacity: 70%;

    }

    // TITRE N°2 //

    .titrenumdeux-t {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 70px;
        text-decoration: underline;
        color: $color-palegray;

    }
}

// ILLUSTRATION ANIMÉS N°1 //

.card {
    margin-left: 10%;
    margin-top: 4%;
    position: relative;
    width: 600px;
    height: 350px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    transition: all 0.5s ease 0s;

    
}

.card .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.card .circle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #161616;
    -webkit-clip-path: circle(120px at center);
    clip-path: circle(120px at center);
    transition: 0.5s;
}

.card:hover .circle:before {
    background-color: $color-description;
    clip-path: circle(400px at center);
}

.card img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    pointer-events: none;
    transition: 0.5s;
    filter: invert(90%);

}


.card:hover img {
    left: 72%;
    height: 400px;
}


.card .content-t {
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.card:hover .content-t {
    left: 0;
    opacity: 1;
    visibility: visible;

}

.card .content-t h2 {
    color: #AA8453;
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 5px;
}

.card .content-t p {
    color: $color-palegray ;
    font-size: 100%;
}


// ILLUSTRATION ANIMÉS N°2 //

.card2 {
    margin-left: 60%;
    margin-top: 4%;
    position: relative;
    width: 600px;
    height: 350px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    transition: all 0.5s ease 0s;
}

.card2 .circle2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.card2 .circle2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #161616;
    -webkit-clip-path: circle(120px at center);
    clip-path: circle(120px at center);
    transition: 0.5s;
}

.card2:hover .circle2:before {
    background-color: $color-description;
    clip-path: circle(400px at center);
}

.card2 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 260px;
    pointer-events: none;
    transition: 0.5s;
    filter: invert(90%);
}


.card2:hover img {
    left: 82%;
    height: 350px;
}


.card2 .content-t2 {
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.card2:hover .content-t2 {
    left: 0;
    opacity: 1;
    visibility: visible;

}

.card2 .content-t2 h2 {
    color: #AA8453;
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 5px;
}

.card2 .content-t2 p {
    color: $color-palegray ;
    font-size: 100%;
}

// ILLUSTRATION ANIMÉS N°3 //

.card3 {
    margin-left: 3%;
    margin-top: 4%;
    position: relative;
    width: 600px;
    height: 350px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    transition: all 0.5s ease 0s;
}

.card3 .circle3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.card3 .circle3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #161616;
    -webkit-clip-path: circle(120px at center);
    clip-path: circle(120px at center);
    transition: 0.5s;
}

.card3:hover .circle3:before {
    background-color: $color-description;
    clip-path: circle(400px at center);
}

.card3 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    pointer-events: none;
    transition: 0.5s;
    filter: invert(90%);
}


.card3:hover img {
    left: 90%;
    height: 390px;
}


.card3 .content-t3 {
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.card3:hover .content-t3 {
    left: 0;
    opacity: 1;
    visibility: visible;

}

.card3 .content-t3 h2 {
    color: #AA8453;
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 5px;
}

.card3 .content-t3 p {
    color: $color-palegray ;
    font-size: 100%;
}

@media (max-width: 799px) {

    .jnoun{
        display: flex;
        flex-direction: column;
        align-content: space-between;
    }

    .jnoun2{
        display: block;
    }


    .box1-t{
        margin-right:30%;
    }

    .search-t, .menu-t, .btnn2 { 
        display: none;
    }

    #accueil-t .imgdebxl-t img {
        object-fit: cover;

    } 
    .card img{
        display: none;

    }
    .circle{
         margin-top: 40%;
         margin-right: 40%;
    }
   
    .card3 {
    
        width: 100%;
     
    }

}

/* FIN Partie HEADER */