//  page de Julien ! Ne pas toucher sans l'ordre du propriétaire

fieldset {
    display: flex;
    flex-direction: column;
    padding: 5% 10% 50% 10%;
}

h1 .legend {
    display: flex;
    align-items: center;
}