//  page de Julien ! Ne pas toucher sans l'ordre du propriétaire
    // @media screen and (max-width: 799px) 
    // {padding-right: 25%;}



.illustration img {
    color: white;
    filter: invert(100%);
    margin-top: 10%;
    width: 80%;
}

.reseaux {
    display: flex;
    filter: invert(100%);
}

.reseaux img {
    margin-top: 50%;
    margin-left: 40%;
    width: 15%;
      @media screen and (max-width: 799px) 
    { display : flex;
      margin-left: 165%;
        width: 55%;}
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #D9D9D9;
}