//  page de Julien ! Ne pas toucher sans l'ordre du propriétaire

fieldset {
    display: flex;
    flex-direction: column;
    padding: 10% 10% 10% 10%;
    border-radius: 2%;
    border-color: $color-white;
    background-color: $color-white;
    box-shadow: 0px 50px 50px  rgba(0, 0, 0, 0.200);
}

legend {
    display: flex;
    font-size: 300%;
}