//  page de Denis ! Ne pas toucher sans l'ordre du propriétaire

.container-grand{
    justify-content: center;
    align-items: center;
    align-items: center;
}
.container-un {
    display: flex;
    width: 100%;
    .casino {
        width:850px;
        height: 500px;
        padding-left: 100px;
        padding-bottom: 100px;
        padding-top: 50px;
}

    .titre-paragraphe {
        display: flex;
        padding-left: 150px;
        padding-right: 150px;
        margin-top: 150px;
    }
}

.container-deux {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    padding-right: 100px;
    padding-bottom: 150px;
    justify-content: center;
    
    
    .container-deux .texte-deux{
       display: flex;
    }

  


    .palaisr {
        width: 850px;
        // padding-left: 100px;
       
        }


}
    .texte-deux {
        display: flex;
       justify-content: space-between;
        padding-right: 200px;
        align-self: flex-start;
        align-items: flex-start;
        
        align-content: space-between;
        padding-top: 200px;
        
    }


.container-trois {
    display: flex;
    
    
       
       
   .festival {
       
       
        padding-left: 50px;
        align-items: center;
        width :850px;
    }

}

.texte-trois {
    padding-left: 100px;
   align-items: flex-start;
   margin-top: 100px;

}
h1{
    color: white;
}

.casinobx .lumiere .royal {
    line-height: 35px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.8em;
    width: 1000px;
}


.festival {
    height: 8%;
}
.texte-deux{
    align-content: center;
    align-items: center;
}
a{
    color:$color-gold;
}
a:hover{
    color:rgb(219, 198, 10)
}
.casinobx .royal .lumiere{
    color:#d9c38b ;
}
fieldset{
    width: 1000px;
    border: solid;
    color: $color-gold;
    
    
}


// DEBUT DES MEDIAQUERRIES!!!

@media only screen and (max-width:1000px) {
    .event {
        flex-wrap: wrap;
        justify-content: center;
    }

    .container-un {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 0;
        padding-left: 100px;
        
    }
    .container-un .casino{
        padding-bottom: 0;
    }

    .container-deux {
        flex-wrap: wrap;
        justify-content:flex-end ;
        margin-left: 300px;
    }
<<<<<<< HEAD

img {
    align-self: center;
    max-width: 550px;
    max-height: 450px;
    padding-top: 150px;
=======
    .palaisr{
        padding-right: 350px;
      
    }

   

.festival{
    padding-top: 100px;
    margin-left: 300px;
   
}
p .royal{
    flex-direction: column;
    flex-wrap: wrap;
    
}
fieldset{
    justify-content: space-evenly;
>>>>>>> 0d84e381e06a52068aaf67ded0e549be1c683abb
}
    



.t-un {
    align-items: center;
    padding-left: 30px; // padding pour centrer le titre par rapport a l'image et aux textes


}

.titre-paragraphe {

    flex-wrap: wrap;
    max-height: 200px;
     padding-bottom: 150px; // padding pour centrer le titre par rapport a l'image et aux texte
    padding-right: 200px;
    margin-bottom: 100px;
}

.texte-deux {
   
    max-height: 200px;
   
}
.container-trois{
    
    flex-wrap: wrap;
}

.texte-trois {
    max-width: 550px;
    max-height: 200px;
    padding-bottom: 250px;
    margin-left: 150px;
}


<<<<<<< HEAD
}
=======




>>>>>>> 0d84e381e06a52068aaf67ded0e549be1c683abb
