//  page de Denis ! Ne pas toucher sans l'ordre du propriétaire

.container-un{
    display: flex;
    .casino{
        width:850px;
        height: 500px;
        padding-left: 250px;
    }
    .titre-paragraphe{
        padding-left: 50px;
    }
}