//  page de Denis ! Ne pas toucher sans l'ordre du propriétaire

.container-grand{
    justify-content: center;
    align-items: center;
}
.container-un {
    display: flex;
    .casino {
        width: 850px;
        height: 650px;
        padding-left: 150px;
        padding-bottom: 100px;
        padding-top: 50px;
    }

    .titre-paragraphe {
        padding-left: 150px;
        padding-top: 50px;
        padding-right: 150px;
    }
}

.container-deux {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 100px;
    padding-bottom: 200px;


    .palaisr {
        width: 850px;
        padding-left: 100px;

    }

    .texte-deux {
        padding-right: 300px;
        align-self: center;
        align-items: center;
        padding-bottom: 300px;
    }
}

.container-trois {
    display: flex;
    padding-right: 150px;
    align-items: center;

    .festival {
        width: 850px;
        padding-left: 250px;
        align-items: center;
    }

}

.texte-trois {
    padding-left: 150px;
    padding-top: 50px;
    align-content: center;

}

p {
    line-height: 35px;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

.festival {
    height: 9%;
}
.texte-deux{
    align-content: center;
    align-items: center;
}
a{
    color: rgb(24, 22, 170);
}
a:hover{
    color:red
}


// DEBUT DES MEDIAQUERRIES!!!

@media only screen and (max-width:1700px) {
    .event {
        flex-wrap: wrap;
        justify-content: center;
    }

    .container-un {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .container-deux {
        flex-wrap: wrap;
    }
/*img {
    align-self: center;
    align-content: center;
    max-width: 650px;
    max-height: 450px;
    padding-top: 150px;
}*/


}

.t-un {
    align-items: center;
    padding-left: 100px; // padding pour centrer le titre par rapport a l'image et aux textes


}

.titre-paragraphe {

    flex-wrap: wrap;
    max-width: 750px;
    max-height: 200px;
    padding-bottom: 450px; // padding pour centrer le titre par rapport a l'image et aux texte
    padding-right: 200px;
}

.texte-deux {
    max-width: 750px;
    max-height: 200px;
    padding-bottom: 50px;
    flex-wrap: wrap;
}
.container-trois{
    
    flex-wrap: wrap;
}

.texte-trois {
    max-width: 550px;
    max-height: 200px;
    padding-bottom: 450px;
}

